.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card-inline{
  display: inline-flex;
}

.bookname{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 17px;
  color: blue;
}

.card-background{
background-color: slategrey;
}

.card-height{
  height: 250px ;
}
.star-right{
  float: right;
}
.taskbody_background{
  background-color: skyblue;
}

.book-main-title{
  font-family: cursive;
  font-size: 40px;
}
.checked{
  color: yellow;
}

.author{
  font-size: 12px;
}

.back-stars {
  display: inline-block;
  color: #bb5252;
  
}
.front-stars {
  display: inline-block ; 
  color: #FFBC0B;
}
.star-rating{
  display: inline-block;
}
.pagination-bar{
  width:100%
}